<div class="d-flex justify-content-evenly footer">
    <%= link_to root_path, class: "d-flex flex-column align-items-center justify-content-between" do %>
      <i class="fa-solid fa-archway"></i>
      <span>Accueil</span>
    <% end %>

    <%= link_to places_path, class: "d-flex flex-column align-items-center justify-content-between" do %>
      <i class="fa-solid fa-compass"></i>
      <span>Explorer</span>
    <% end %>

    <%= link_to favourite_places_path, class: "d-flex flex-column align-items-center justify-content-between" do %>
      <i class="fa-solid fa-star"></i>
      <span>Favoris</span>
    <% end %>
</div>
