<div class="navbar">
  <div class="container-fluid">
    <%= image_tag 'wanders_logo_sunset_background.png', class: "logo" %>
    <% if !user_signed_in? %>
      <div style="display: inherit">
        <%= link_to "Sign up", new_user_registration_path, class: "nav-item nav-link" %>
        <%= link_to "Login", new_user_session_path, class: "nav-item nav-link" %>
      </div>
    <% end %>
  </div>
</div>
