.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: $dark-blue;
  a {
    color: $white;
    text-decoration: none;
  }
  span {
    font-size: small;
  }
  z-index: 0;
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin-bottom: 0rem;
  align-self: center;
}
