.mapboxgl-popup {
  width: 54vw;
  max-width: 400px;
  transform:none !important;
  bottom: 15%;
  left: 10px;
}

.mapboxgl-popup-content {
  width: 170%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: 20vh;
  bottom: 6px;
  right: auto;
  left: auto;
  margin: 1em 3%;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  border-radius: 15px !important;
  height: 65vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
// Hide scroll bar on Chrome, Safari, Opera
.mapboxgl-popup-content::-webkit-scrollbar {
  display: none;
}

.mapboxgl-popup-tip {
  display: none;
  border: none !important;
}

.mapboxgl-popup-close-button {
  display: none;
}

.popup-content{
  overflow: hidden;
  width: 100% !important;
  padding-top: 10px;
  color: $dark-blue;
  h1 {
    font-family: "Oswald", "Helvetica", "sans-serif";
    text-align: start;
  }
  p {
    font-family: "Montserrat", "Helvetica", "sans-serif";
    text-align: start;
  }
  img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    margin-top: -10px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .add-favourite {
    color: $yellow;
    font-size: xx-large;
    position: relative;
    top: -50px;
    right: -150px;
  }
}

.popup-info {
  margin-top: 5px;
  .address {
    font-style: italic;
    font-weight: bolder;
  }
  .description {
    text-align: justify;
  }
}

.btn-admin-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
