.navbar-lewagon {
  justify-content: space-between;
  background: none;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin-right: 16px;
}

.navbar-toggler {
  background-color: $dark-blue;
  color: $white;
  padding: 5px;
  border-radius: 5px;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding-bottom: 10px;
}

.nav-logo{
  width: 100px;
}
