<div class="site-container">

  <h1>Mes Anecdotes</h1>

  <div data-controller="display-favourite-description">

    <% @favourite_places.each do |favourite_place| %>

      <div class="fav_places_container" data-action="click->display-favourite-description#revealContent">

        <div class="fav_places_main">
          <%= cl_image_tag favourite_place.place.photo.key %>
          <div>
            <h1><%= favourite_place.place.fr_title %></h1>
            <p><%= favourite_place.place.address %></p>
          </div>
        </div>

        <div class="fav_places_details" data-display-favourite-description-target="description">
          <p><%= favourite_place.place.fr_description %></p>
        </div>

      </div>

    <% end %>

  </div>

</div>
