<div class="site-container">
  <h1>Créer une nouvelle categorie</h1>

  <%= simple_form_for @category do |f| %>
    <%= f.input :name, label: 'Nom de la catégorie', placeholder: 'Nom' %>
    <%= f.button :submit, "Uploader", class: "btn-tangerine" %>
  <% end %>
</div>
