<div class="popup-content">
   <div>
    <img src="<%= place.img_url %>" alt="">
   </div>
  <div class="popup-info">
    <h1><%= place.fr_title %></h1>
    <p><%= place.address %></p>
    <p><%= place.fr_description %></p>
  </div>
</div>
